.big-g {
    height: 110vh;
    background: rgb(250, 241, 228);
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px){
        width: 100%;
    }
}

big-g-h {
    font-size: 2rem;
    text-align: center;
    font-weight: 1000;
    justify-content: center;
    // padding: 2rem;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.texth {
    padding-top: 2rem;
}

.images-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  padding-top: 4rem;
//   margin-top: 4rem;
}

.image1 {
  height: 30rem;
  width: 50rem;
  object-fit: cover;
}

.image2 {
  height: 10rem;
  width: 25rem;
  object-fit: cover;
}

.image3 {
  height: 10rem;
  width: 24rem;
  object-fit: cover;
}

.image4 {
  height: 41rem;
  width: 30rem;
  object-fit: cover;
//   margin-bottom: 2rem;
}

.section-1_image {
    display: block;
    gap: 1rem;
  
}

.section-flex-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.section-2_image {

}
