.project-holder {
  display: flex;
  height: 50vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(238, 232, 232);
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  @media screen and (max-width: 968px) {
    height: 40vh;
    padding: 0;
    margin-bottom: 0;
  }
    
}

.project-header {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 8rem;
    @media screen and (max-width: 968px) {
        font-size: 1.5rem;
        font-weight: 800;
        margin-top: 8rem;
    }
}

.projects-background-layer {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(26, 25, 25, 0.8), rgba(21, 21, 21, 0.8)),url(../../images/landingPage/services.jpg);
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.project-body {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background: rgb(206,222,189);
    border-bottom: 1px solid #ddd;
    @media screen and (max-width: 968px) {
        margin-top: 0;
        height: 100%;
        padding: 1.3rem;
    }
}

.project-content {
  margin-top: 10rem;
  @media screen and (max-width: 968px) {
    margin-top: 0;
    padding: 1.3rem;
  }
    
}

/* Base styles for project content */
.project-body-content {
  background-color: rgb(17,24,39);
  padding: 5rem;
  border: 1px solid #ddd;
  text-align: left;
  width: 80%;
  margin-top: 2rem;
}

.projects-head {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.project-span {
  font-weight: bold;
  margin-right: 8px;
}

.explainer {
  font-size: 17px;
  line-height: 1.4;
  margin-top: 10px;
  color: #8892B0;
  white-space: pre-line;
}

/* Responsive styles */
@media screen and (max-width: 968px) {
  .project-body-content {
    padding: 0.5rem;
    width: 100%;
    height: 50%;
    // text-align: center;
  }

  .projects-head {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .explainer {
    font-size: 10px;
    white-space: pre-line;
  }
}

@media screen and (max-width: 980px) {
  .explainer {
    font-size: 14px;
    // margin-top: 5px;
    line-height: 1.5;
    white-space: pre-line;
  }
}
