.about {
  overflow-x: hidden;
  overflow-y: hidden;

}

.header {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(../../images/landingPage/school2.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(247,247,247);
  height: 60vh;
  text-align: center;
  padding: 90px 0; /* Adjust padding for vertical spacing */
  @media screen and (max-width: 960px) {
    height: 45vh;  
  }

}

.header p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.holder-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}

.div-1 img {
  width: 40rem;
  height: 25rem;

  @media screen and (max-width: 480px){
    width: 20rem;
    height: 15rem;
  }
}

.div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 75%;
  @media screen and (max-width: 960px) {
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

.cont-t {
  margin-top: 5rem;
  @media screen and (max-width: 960px) {
    font-size: 16px;
  }
}

.heading {
  font-size: 2rem;
  margin-top: 30px;
}

.highlight {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  color: rgb(0, 208, 132);
  @media screen and (max-width: 960px) {
    font-size: 1.8rem;
    padding: auto;
}

}

.header-text {
  font-size: 2.5rem;
  margin: 0;
  margin-top: 5rem;
  @media screen and (max-width: 960px) {
    font-size: 1.8rem;
    padding: 0;
    
  }
}


/* Style the container */
.logo-about {
  background-color: #f2f2f2;
  padding: 2rem;
  @media screen and (max-width: 960px) {
    padding: 0.5rem;
  }
    
}

/* Style the main content container */
.cont {
  text-align: center;
}

/* Style the header */
.header-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Style the highlight span */
.highlight {
  color: rgb(0,208,132); /* Change the color to your preference */
}

/* Style the introductory text */
.intro-text {
  padding: 2rem;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #333; /* Change the text color to your preference */
  margin-bottom: 2rem;
  @media screen and (max-width: 960px) {
    font-size: 16px;
    padding: 0;
    margin-bottom: 0;
    // margin-left: 1rem;
  }
    
}

/* Style the "Why Choose Us?" section */
.contained {
  background-color: rgb(235, 247, 242);
  // background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(../../images/landingPage/school2.jpg);
  // background-size: cover;
  // background-position: center;
  padding: 2rem;
  // border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  @media screen and (max-width: 960px){
    padding: 1rem;

    
  }
}

.about-ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 20px;
  @media screen and (max-width: 960px) {
    font-size: 16px;
    margin-left: 1rem;
  }
}

.about-li {
  font-weight: 500;
  margin-top: 10px;
  font-size: 18px;
  @media screen and (max-width: 960px) {
    font-size: 16px;
    margin-left: 1rem;
  }
    
}

.about-p {
  margin-top: 5px;
  font-size: 18px;
  @media screen and (max-width: 960px) {
    font-size: 16px;
    margin-left: 1rem;
  }
    
}
