
.about {
  margin-top: 50px;
  overflow-x: hidden;

}

.header {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(../../images/landingPage/school2.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(247,247,247);
  text-align: center;
  padding: 100px 0; /* Adjust padding for vertical spacing */
}

.header-text {
  font-size: 2.5rem;
  margin: 0;
}

.header p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.holder-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}

.div-1 img {
  width: 50rem;
  max-width: 90%; /* Adjust this value as needed */
  height: auto;

  @media screen and (max-width: 480px){
    width: 20rem;
  }
}

.div-1 {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding: 2rem;

  @media screen and (max-width: 960px) {
    padding: 1rem;
  }
}

.content {
  padding: 0 20px;
  text-align: center;
  @media screen and (max-width: 960px) {
    padding: 1rem;
  }
}

.heading {
  font-size: 2rem;
  margin-top: 30px;
}

.highlight {
  color: rgb(0, 208, 132);
  font-size: 24px;
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 30px;
  margin-bottom: 40px;
  // width: 50%;
  padding: 2rem;
  justify-content: center;
  @media screen and (max-width: 960px) {
    font-size: 0.9rem;
  }
}

.text-container {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

.intro-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  @media screen and (max-width: 960px) {
    font-size: 16px;
  }
    
  }

.main-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  @media screen  and (max-width: 960px) {
    font-size: 14px;
  }
    
}

