
.about {
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: hidden;

}

.header {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(../../images/landingPage/school2.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(247,247,247);
  text-align: center;
  padding: 100px 0; /* Adjust padding for vertical spacing */
}

.header p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.holder-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}

.div-1 img {
  // width: 50rem;
  // max-width: 90%;
  // height: auto;
  width: 40rem;
  height: 25rem;

  @media screen and (max-width: 480px){
    width: 20rem;
  }
}

.div-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 0;
  @media screen and (max-width: 960px) {
    padding: 1rem;
    // height: 50px;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

.content {
  // padding: 0 20px;
  margin-bottom: 1rem;
  // text-align: center;
  @media screen and (max-width: 960px) {
    // padding: 1rem;
    font-size: 16px;
  }
}

.heading {
  font-size: 2rem;
  margin-top: 30px;
}

.highlight {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  color: rgb(0, 208, 132);
  @media screen and (max-width: 960px) {
    font-size: 1.8rem;
    padding: auto;
}

}

.header-text {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  @media screen and (max-width: 960px) {
    font-size: 1.8rem;
    padding: auto;
    
  }
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 2rem;
  justify-content: center;
  @media screen and (max-width: 960px) {
    font-size: 0.9rem;
  }
}

.text-container {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

.intro-text {
  font-size: 16px;
  line-height: 1.6;
  // margin-bottom: 20px;
  @media screen and (max-width: 960px) {
    font-size: 16px;
  }
    
  }

.main-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  @media screen  and (max-width: 960px) {
    font-size: 14px;
  }
    
}

.logo-about {
  display: flex;
  // justify-content: space-between; /* Spacing between the two divs */
  align-items: center;
  // height: 70vh;
  justify-content: center;
  // margin-bottom: 10rem;
  // padding: 10rem 0;
  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
    
}

