//Best Work descreptor
.best-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  background-color: rgb(37,37,37);
  margin-top: 30px;
  height: 100%;
}

.holder {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.best-work h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgb(0, 208, 132);
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  // border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(0, 208, 132);
}

.card p {
  font-size: 16px;
  color: #333;
}