.bussiness {
    width: 100%;
    height: 100vh;
    background: white;
    justify-content: center;
    align-items: center;
    // padding: 25rem;
    @media screen  and (max-width: 640px) {
        height: 250vh;
        width: 100%;
        padding: 0;
    }
        
    }


.bis-card {
    width: 500px;
    height: 750px;
    background: #F7F7F7;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: block;
    @media screen and (max-width: 368px) {
        width: 380px;
        height: 100%;
    }
    @media screen and (min-width: 968px) and (max-width: 1024px) {
        width: 750px;
        height: 250px;
    }
        
}

.bis-card h1 {
    text-align: center;
    @media screen and (max-width: 640px) {
        font-size: 20px;
    }
        
}

.bis-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
    gap: 25px;
}

.btn-s {
  width: 150px;
  height: 50px;
  border: none;
  background: #145038;
  font-weight: 500;
  color: white;
  cursor: pointer; /* Add a cursor pointer for better interaction */
  transition: background 0.3s ease;
  border-radius: 50px;
  font-weight: 900;
  @media screen and (max-width: 640px) {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
    
}

.image-1 {
    height: 250px;
    width: 450px;
    margin-right: 30px;
    @media screen and (max-width: 360px) {
        width: 340px;
        height: 225px;
        justify-content: center;
        align-items: center;
    }
}

.list {
    font-size: 13px;
    font-weight: 900;
    font-family: sans-serif;
    @media screen and (max-width: 640px) {
        font-size: 12px;
        font-weight: bold;
    }
        
}

.heading {
    font-size: 24px;
    font-weight: 900;
    font-family: sans-serif;
}