.contact-us {
      background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(../../images/landingPage/school2.jpg);
    height: 60vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: rgb(247,247,247);
    padding: 100px 0;
}

.holder {
    width: 100vw;
    height: 100%;
    // background-color: red;
}

.form-c {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247,247,247);
}