.partner-images-holdr {
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    @media screen and (max-width: 768px) {
      height: 40%;
      margin-bottom: 1rem;
    }
}

.partner-imagry {
width: 180px;
  height: auto;
  margin: 0 12px;
  @media screen and (max-width: 968px) {
    width: 130px;

  }
}