.art {
  color: white;
  @media screen and (max-width: 940px) {
    font-size: 16;
  }
    
}

.hero-image {
  width: 100%;
  height: 100vh;
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
  padding: auto;
  @media screen and (max-width: 960px) {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 640px) {
    width: 100%;
    height: 100%;
  }
}

.below {
  width: 100%;
  height: 18vh;
  background: #145038;
  display: flex;
  gap: 150px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 940px) {
    gap: 20px;
    padding: 20px;
    height: 25vh;
  }
}

.hero-title {
  position: absolute; /* Set the title to absolute positioning */
  top: 50%; /* Position the title 50% from the top of the parent container */
  left: 50%; /* Position the title 50% from the left of the parent container */
  transform: translate(-50%, -50%); /* Center the title both horizontally and vertically */
  background-color: rgba(0, 0, 0, 0.6); /* Add a background color for better readability */
  padding: 10px 20px;
  color: white; /* Set text color */
  font-size: 42px; /* Set font size */
}
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  color: white !important;

}

.hero-explanation{
  color: black;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.image-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-details h2,
.image-details p {
  margin: 0;
  color:black;
}

.image-container:hover .image-details {
  opacity: 1;
}

.btn-b {
  width: 150px;
  height: 50px;
  border: none;
  background: #145038;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 50px;
  font-weight: 900;
}

.btn-b:hover {
  background: white;
  color: #145038;
}

@media screen and (max-width: 940px) {
  .btn-b {
    width: 120px;
    height: 35px;
  }
}

@media screen and (max-width: 640px) {
  .btn-b {
    width: 120px;
    height: 35px;
  }
}

