@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;500&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,200;1,500&family=Passion+One&family=Playfair+Display&family=Poppins:wght@500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&family=Inter:wght@100&family=Montserrat:ital,wght@0,100;1,200&family=Poppins&display=swap');

.land {
    overflow-x: hidden;
    overflow-y: hidden;
    // background-image: url('https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
}

body {
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Passion One', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    // background-color: aliceblue !important;
    // background-image: url("../../images/landingPage/image1.JPG") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background-image: url('https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80') !important;
}


.navbar {
   .navbar-brand {
        font-size: small;
   }
}

