.our-values {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(../../images/landingPage/masaai.jpg);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
  flex-wrap: wrap;
}

.container > div {
  background-color: #f5f5f5;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: calc(30% - 1rem);
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px) {
  .container > div {
    width: 100%;
    margin: 1rem 0;
  }
}

.container > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.container > div h1 {
  margin: 0 0 1rem;
  font-size: 1.8rem;
  font-weight: bold; /* Add bold font weight */
  color: rgb(0,208,132);
  text-align: center; /* Center the heading */
}

.container > div ul,
.container > div p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
  padding-left: 1.5rem;
}

.container > div ul {
  padding-left: 1.5rem;
  list-style-type: none; 
//   list-style-type: disc;
}

.container > div ul li {
  margin-bottom: 0.5rem;
  position: relative; 
}

.container > div ul li::before {
  content: "\2192"; /* Unicode arrow right character */
  position: absolute;
  left: -1.5rem; /* Position the arrow to the left */
  font-size: 1.2rem; /* Increase the font size of the arrow */
  color: red; 
}