.arrow-list {
  list-style: none;
  font-size: 14px;
  padding: auto;
  gap: 20px;
}

.arrow-icon {
  color: #145038;
  margin-right: 10px;
}

.form {
  padding: 1rem !important;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)),url(../../images/landingPage/event.jpg);
  // background: rgba(0, 0, 0, 0.8);
  @media screen and (max-width: 640px) {
    display: block;
    height: 100%;
    padding: 0;

  }

.newsletter {
  display: flex;
  justify-content:center;
  align-items: center;
  @media screen and (max-width: 940px) {
    display: block;
  }
    
  }
}

.first-cont {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
  // margin-top: 10rem;
  @media screen and (max-width: 640px) {
    font-size: 12px;
    padding: 1rem;
    width: 100%;
  }
    
}

.card-1{
  align-items: center;
  justify-content: center;
  // display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.explainer {
  font-size: 18px;
  text-align: center;
  color: white;
}

.counter {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-auto-rows: 150px;
    place-content: center;
    grid-gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 7rem;
    margin-right: auto;
    @media screen and (max-width: 640px) {
      display: flex;
      flex-direction: column;
      grid-template-columns: repeat(2, 1000px);
    }
}

.counter-item {
  padding: 50px;
  background-color: rgba(35, 35, 35, 0.9);
  text-align: center;
  height: 150px;
  flex-basis: calc(50% - 20px);
}

.counter-item h2 {
  font-size: 24px;
  color: white;
  margin: 0;
  @media screen and (max-width: 640px) {
    font-size: 20px;
    font-weight: 900;
  }
}

.my-top {
  color: #145038;
  font-size: 55px;
  margin-bottom: 0;
  @media screen and (max-width: 640px) {
    font-size: 40px;
    font-weight: 700;
  } 
}

.my-btn {
  @media screen and (max-width: 640px) {
    margin-top: 1rem;
    height: 48px !important;
    width: 148px !important;
  }
    
}

.news-letter {
  @media screen and (max-width: 340px) {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    // height: 48px !important;
    // width: 148px !important;
  }
    
}

.news-letter h6 {
  font-size: 24px;
  color: white;
  margin: 0;
  @media screen and (max-width: 340px) {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
  } 
}