.arrow-list {
  list-style: none;
//   padding-left: 0;
  font-size: 14px;
  padding: auto;
  gap: 20px;
}

.arrow-icon {
  color: #145038;
  margin-right: 10px;
}

.form {
  padding: 150px !important;
  justify-content: center;
  align-items: center;
  background: rgba(35, 35, 35, 0.9);
  @media screen and (max-width: 768px) {
    display: block;

  }

.newsletter {
  display: flex;
  @media screen and (max-width: 768px) {
    display: block;
  }
    
  }
}

.first-cont {
  // padding: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  @media screen and (max-width: 868px) {
    // display: block;
    font-size: 12px;
  }
}

.card-1{
  align-items: center;
  justify-content: center;
  // display: flex;
  flex-direction: column;
  padding-right: 100px;
}


// .c-explainer{
//   // padding: 100px;
// }
