.partner-holder {
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 3rem;
    background-color: rgb(17,24,39);
    @media screen and (max-width: 768px) {
      height: 100%;
      padding: 1.5rem;
      margin-bottom: 0;
    }
}

.headtext {
    font-size: 2rem;
    font-weight: 1000;
    padding: 2rem;
    color: rgb(0,208,132);
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
}

.headtextp {
  text-align: center;
  font-size: 1.4rem;
}

.partner-overlay {
  margin-top: 2rem;
}

.partner-images-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // margin-top: 20px;
  // padding-top: 1rem;
//  margin-bottom: 15rem;
  // padding: 10rem;
}
  .partner-image {
  width: 10rem;
  height: auto;
  margin: 0 12px;
  @media screen and (max-width: 968px) {
    width: 130px;

  }
}

.partner-image-5 {
  width: 130px;
  height: 75;
  margin: 0 12px;
  @media screen and (max-width: 968px) {
    width: 130px;
  }
}

