.partner-holder {
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgb(247,247,247);
}

.headtext {
    font-size: 2rem;
    font-weight: 1000;
    padding: 2rem;
    color: rgb(0,208,132);
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
}

.headtextp {
  text-align: center;
  font-size: 1rem;
}

.partner-overlay {
  margin-top: 2rem;
}

.partner-images-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
  .partner-image {
  width: 100px; /* Set the width of the images */
  height: auto; /* Maintain the aspect ratio */
  margin: 0 10px; /* Add margin around each logo */
}

