.outer {
     width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(187, 151, 151);
}

.inner {
    align-items: center;
    justify-content: center;
    background-color: aqua;
}