.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 150px;
  padding-right: 100px; 
  padding-left: 100px;
  @media screen and (max-width: 968px) {
    flex-direction: column;
    display: block;
    padding: 20px;
  }
    
}
.company {
    width: 100%;
    height: 90vh;
    background: white;
    justify-content: center;
    align-items: center;
}

.about-company__title {
    font-size: 38px;
    font-weight: 1000;
    margin-top: 20px;
    font: bolder;
}

.about-company__text {
    font-size: 18px;
    font-weight: 500;
    font: bolder;
    padding: 100px;
}

.arrow-list {
  list-style: none;
  font-size: 14px;
  padding: auto;
  gap: 20px;
}

.arrow-icon {
  color: #145038;
  margin-right: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.btn-r {
  width: 180px;
  height: 60px;
  background: #145038;
  border: none;
  font-weight: 500;
  color: white;
  cursor: pointer; /* Add a cursor pointer for better interaction */
  transition: background 0.3s ease;

}

.btn-r:hover {
  background: greenyellow;
  opacity: 1;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: #145038;
  color: white;
  text-align: center;
}

.mission-title {
  font-weight: 600;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.mission-list {
  list-style: none;
  padding: 0;
}

.mission-list li {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Responsive design */
@media (max-width: 768px) {
  .mission {
    padding: 30px;
  }
  
  .mission-title {
    font-size: 20px;
  }
  
  .mission-list li {
    font-size: 16px;
  }
}
.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 350px;
  width: 400px;
  background: #145038;
  color: white;
  // @media screen and (max-width: 768px) {
  //   width: 400px;
  //   height: 250px;
  //   padding: 20px;
  //   font-size: 16;
  // }
    
}

.mission-icon {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.mission-title {
  margin-top: 10px;
  font-weight: 600;
  color: #145038;
}

.mission-text {
  margin-top: 10px;
  font-size: 1.0rem;
  text-align: center;
}


.vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: auto;
  width: 400px;
  background: #145038;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  // @media screen and (max-width: 768px) {
  //   width: 200px;
  //   height: 200px;
  //   padding: auto;
  //   font-size: 12;
  // }
    
}

.vision h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  @media screen and (max-width: 968px) {
    font-size: 16px;

    
  }
}

.vision p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.vision a {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 20px;
  background-color: white;
  color: #145038;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.vision a:hover {
  background-color: #145038;
  color: white;
}

.our-about {
  display: flex;
  gap: 30px;
  padding: 70px;
  justify-content: center;
  align-items: center;
  :hover {
    background-color: #359870;
    color: white;
  }
  @media screen and (max-width: 968px) {
    flex-direction: column;
    padding: 20px;
  }
    
}

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 320px;
  width: 400px;
  background: #145038;
  color: white;

  // @media screen and (max-width: 768px) {
  //   width: 200px;
  //   height: 200px;
  //   padding: auto;
  //   font-size: 16;
  // }
    
  }

.my-list {
  list-style: none;
  padding: 10;
  margin: 0;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  li {
    flex-basis: 25%;
    display: flex;
    align-items: center;

    .arrow-icon {
      color: #145038;
    }

    span {
      color: #145038;
      margin-left: 8px;
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide any overflowing text */
      text-overflow: ellipsis; /* Show ellipsis for overflow */
    }
  }
}